*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.nav-container{
    min-width: 100vw;
    min-height: 10%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #7D5A50;
    z-index: 1000;
    box-shadow: 2px 2px 2px 1px #fbf1e7;
}
.nav-logo{
    font-size: 2rem;
    text-decoration: none;
    color: #fbf1e7;
}
.nav-menu{
    display: flex;
}
.nav-item{
    list-style-type: none;
    padding: 0 1rem;
}
.nav-link{
    text-decoration: none;
    color: #fbf1e7;
    font-size: 1.3rem;
}
.home{
    background-color: #fbf1e7;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pfp{
    width: 30%;
    box-shadow: 0px 0px 4px 5px #7D5A50;
    border-radius: 50%;
}
#pfp-text-line1{
    margin: 0 0 1.5rem 0;
    color: #7D5A50;
    font-size: 1.5rem;
}
#pfp-text-line2{
    font-size: 4rem;
    color: #7D5A50;
}
#pfp-text-line3{
    font-size: 1.3rem;
    color: #E5B299;
}
.section{
    min-height: 100%;
    background-color: #fbf1e7;
    text-align: center;
    padding-bottom: 3rem;
}
.section-head{
    font-size: 2rem;
    padding: 2rem 0;
    color: #fbf1e7;
    background-color: #7D5A50;
}
.section-text{
    font-size: 1.2rem;
    color: #B4846C;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
.timeline-wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.timeline {
    width: 4px;
    min-height: 100%;
    background-color: #7D5A50;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.timeline-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.timeline-icon {
    border-radius: 50%;
    border: 4px solid #7D5A50;
    width: 125px;
    height: 125px;
    margin-bottom: 80px;
    background-color: #fbf1e7;
    overflow: hidden;
}

.timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#last-icon {
    margin-bottom: 0;
    width: 50px;
    height: 50px;
}
.timeline-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* z-index: 1;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.timeline-text {
    width: 45%;
    text-align: left;
    padding: 20px;
}

.timeline-text h3 {
    color: #7D5A50;
    margin-bottom: 10px;
    max-width: 75%;
}

.timeline-text p {
    color: #B4846C;
    max-width: 75%;
}
.left{
    text-align: right;
    position: relative;
    right: 17%;
}
.right{
    text-align: left;
    position: relative;
    left: 28%;
}
.projects{
    display: flex;
    justify-content: space-around;
}
.project-card{
    box-shadow: 0px 0px 8px 4px #7D5A50;
    width: 26rem;
    overflow: hidden;
    border-radius: 4%;
}

.project-card img{
    border-bottom:2px solid #7D5A50;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.project-card h2{
    background-color: #fbf1e7;
    color: #7D5A50;
    width: 100%;
    padding:  1rem;
    text-align: center;
    font-size: 2rem;
    min-height: 110px;
}
.project-card h4{
    padding: 0.5rem;
    background-color: #7D5A50;
    color: #fbf1e7;
}
.skills{
    display: flex;
    justify-content: space-evenly;
}
.skill-card{
    border: 2px solid #7D5A50;
    width: 20rem;
    overflow: hidden;
    border: none;
    box-shadow: 0px 0px 8px 4px #7D5A50;
    border-radius: 4%;
    padding: 3rem;
    /* background-color: white; */
}
.skill-card img{
    border-bottom: 2px solid #7D5A50;
    width: 8rem;
}
.skill-card h2{
    padding: 1.5rem;
    color: #7D5A50;
    font-size: 2rem;
}
.skill-card h3{
    padding: 0.5rem;
    color: #B4846C;
}
.contacts{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.contact-card{
    width: 20rem;
    overflow: hidden;
    box-shadow: 0px 0px 8px 4px #7D5A50;
    border-radius: 4%;
    padding: 1.5rem;
}
.contact-card img{
    width: 20%;
}
.contact-card h3{
    padding: 1rem;
    color: #7D5A50;
}
footer{
    padding: 2rem 0;
    color: #fbf1e7;
    background-color: #7D5A50;
    text-align: center;
}